.boxes {
  display: grid;
  border: 1px solid black;
  grid-template-areas:
    "nav nav nav"
    "side mid mid"
    "article article let";
  row-gap: 10px;
  column-gap: 10px;
}
.box {
  border: 1px solid black;
  height: 70px;
}
.box1 {
  grid-area: nav;
  background-color: aquamarine;
  animation: farhan 1s ease-in-out 1 ,
             farhan1 1s ease-in-out 1;
}
/* @keyframes farhan{
    from{
        translate: 0px 0px;
    }
    to{
        translate: 1000px 20px;
    }
}
@keyframes farhan1{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(200deg);
    }
    75%{
        transform: rotate(300deg);
    }
    100%{
        transform: rotate(400deg);
    } */
/* 
} */
.ballspace{
    height: 90vh;
    width: 103vw;
    background-color: antiquewhite;
    border: 1px soild black;
    border: 10px solid black;
}
.ball{
    height: 90px;
    width: 90px;
    background-image: url(https://static-01.daraz.pk/p/414f99041d453f6fe2ce28af040b53f9.jpg);
    object-fit: contain;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
    top: 86.5%;
    animation: ballbouncey 1s ease-out 1s infinite alternate ,
               ballbouncex 10s linear 1s infinite alternate ,
               ballbounceshape 1s cubic-bezier(0, 0, 0, 1.76) 1s infinite alternate ;
}

@keyframes ballbouncey{
    from{
        top: 92.5%;
    }
    to{
        top: 40%;

    }
}

@keyframes ballbouncex{
    0%{translate: 0px 0px;}
    12.5%{translate: 187px 0px;}
    25%{translate: 374px 0px;}
    37.5%{translate: 561px 0px;}
    50%{translate: 748px 0px;}
    62.5%{translate: 935px 0px;}
    75%{translate: 1122px 0px;}
    87.5%{translate: 1309px 0px;}
    100%{translate: 1496px 0px;}
}

@keyframes ballbounceshape{
    from{
        
        transform: scale(0.1);
    }
    to{
        transform: scale(1);

    }
}
